<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Locations

    <a data-toggle="collapse" href="#tour_locations_new_form">
      Add location
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @tour.locations.each do |location| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/locations/<%= location.id %>">
          <%= location.name %>
        </a>

        <a href="/delete_location_from_tour/<%= location.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="tour_locations_new_form">
        <%= render partial: "tour_templates/tour_locations_new_form" %>
      </div>
    </div>

  </ul>
</div>
